In [9]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## Variables

In [22]:
i = 123
i

f = 3.0
g = f / 2.0
g

s = "Hello, world!"
s[0]
s[6:11]

x = [1,3,4,"cow"]
x[2]
x[-1]

m, n = 10, 11
m
n

123

1.5

'H'

' worl'

4

'cow'

10

11

## Conditions

In [24]:
if 2 == 1 + 1:
  print("Yes")

Yes

In [26]:
s = "Hello, world!"

if s[0] == "H":
  print("H is first letter")
elif s[1] == "e":
  print("e is second letter")
else:
  print("H is not first letter and e is not second letter")

H is first letter

In [28]:
i = 3
j = 4 if i == 3 else 0
i
j

3

4

## Loops

In [1]:
for i in [1,2,3]:
  print(i**2)

1
4
9

In [3]:
for i in range(10):
  print(i**2)

0
1
4
9
16
25
36
49
64
81

In [4]:
for car in ['ford', 'toyota', 'skoda']:
  print(car)

ford
toyota
skoda

In [6]:
squares = [i**2 for i in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [21]:
for i in range(10):
  if i % 2 == 0:
    continue
  elif i == 7:
    break
  else:
    print(i)

1
3
5

## Functions

In [30]:
def f(x):
  return x**2 - (2 * x) + 1

for i in range(10):
  print(i, f(i))

0 1
1 0
2 1
3 4
4 9
5 16
6 25
7 36
8 49
9 64

In [39]:
g = lambda x: x**3 - 10 * x**2 + x + 5

In [40]:
[g(i) for i in range(10)]

[5, -3, -25, -55, -87, -115, -133, -135, -115, -67]